<%- include('../commons/header.ejs') %>
<h1>Question Detail</h1>
<p><strong>Question:</strong> <%= question.text %></p>
<p><strong>Options:</strong></p>
<ul>
  <% question.options.forEach(option => { %>
    <li><%= option %></li>
  <% }) %>
</ul>
<p><strong>Correct Option:</strong> <%= question.correctOption %></p>
<a href="/questions" class="btn btn-primary">Back to Questions</a>
<%- include('../commons/footer.ejs') %>