<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Questions</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <%- include ('../commons/header.ejs') %>

    <div class="container mt-5 mb-4 pt-5 pb-5">
        <h1 class="text-center mb-4">List of Questions</h1>
        <div class="text-right mb-3">
            <a href="/questions/new" class="btn btn-primary">
                <i class="fas fa-plus"></i> Create New Question
            </a>
        </div>
        <ul class="list-group">
            <% questions.forEach(question => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/questions/<%= question._id %>" class="text-decoration-none"><%= question.text %></a>
                    <div>
                        <a href="/questions/<%= question._id %>/edit" class="btn btn-sm btn-secondary mr-2">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <form action="/questions/<%= question._id %>?_method=DELETE" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                        </form>
                    </div>
                </li>
            <% }); %>
        </ul>
    </div>

    <%- include ('../commons/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>