<%- include('../commons/header.ejs') %>
<h1><%= quiz.title %></h1>
<p><%= quiz.description %></p>
<a href="/quizzes/<%= quiz._id %>/edit" class="btn btn-secondary">Edit Quiz</a>
<a href="/quizzes" class="btn btn-secondary">Back to List</a>
<%- include('../commons/footer.ejs') %>